.catkin_tools/*
.catkin_workspace
build/*
devel/*
logs/*
**/cmake-build-debug/*
**/.idea/*
**/.vscode/*
**/.egg-info/*

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

src/CMRNet/visibility_pkg/build/
src/CMRNet/visibility_pkg/dist/
__pycache__
src/FAST_LO/Log/*
