<launch>

  <arg name="input_camera" default="kitti/camera_color_left" />

  <param name="/use_sim_time" value="true" />
  <arg name="rosbag" default="kitti_2011_10_03_drive_0027_synced.bag" />
  <arg name="path" default="/data/kitti/" />
  <arg name="rate" default=".25" />
  <node pkg="rosbag" type="play" name="player" output="screen"
    args="--clock $(arg path)$(arg rosbag) -r $(arg rate)
    /$(arg input_camera)/camera_info:=/camera_undistorted/camera_info /$(arg input_camera)/image_raw:=/camera_undistorted/image"
    />

  <arg name="topic_name" default="/gt_extrinsics" />
  <node pkg="rostopic" type="rostopic" name="rostopic_pub_node" output="screen" args="pub $(arg topic_name) --once geometry_msgs/PoseStamped '{header:{stamp: now, frame_id: ''}, pose: {position: {x: 0.05115, y: -0.05404, z: -0.29220}, orientation: {x: 0.4998902, y: -0.5036978, z: 0.4960577, w: 0.5003249}}}'"
  />

</launch>
